{% extends 'FriendsProfileBundle:TemplateSample:base_friends.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
<h1>Blog List</h1>
<div>
  <ul>
    {% for blog in blogList %}
      {% if blog.visible %}
        <li> {{ blog.title }} </li>
      {% else %}
        <li> Restricted </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{{ message | raw }}
{{ include('FriendsProfileBundle:TemplateSample:high_rated_blogs.html.twig', { 'blogList': blogList }) }}
{% endblock %}
